* Estilos generales */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #FF0000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.imagen{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}



/* Estilos para las secciones */
section {
    padding: 50px;
    margin: 0;
}

#inicio {
    background-color: #00FF00;
    margin: 0;
}

#reseñas .reseña {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

#noticias ul {
    list-style: disc;
    margin-left: 30px;
}

/* Estilos para el formulario de contacto */
form {
    max-width: 400px;
    margin: 0 auto;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

textarea {
    height: 150px;
}

button {
    background-color: #0000FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #FFFF00;
}

header img{
    width: 150px; /* Tamaño del ancho del logo */
    height: auto; /* El alto se ajusta automáticamente */
    float: left; /* Mueve la imagen a la izquierda */
    margin-right: 5px; /* Espacio entre la imagen y el título */
    margin: 0;
}

header h1 {
    display: inline-block; /* Hace que el título sea un bloque en línea */
}